<div class="form">
<%= form_for @customermeal do |f| %>
  <%= cm.label :customer_id %>
  <%= cm.collection_select :customer_id, :id, @customers,:name %>
  <br/><br/>
  <%= cm.label :meals %>
  <%= cm.collection_select :meals, @meals, :id, :name %>

  <br/><br/>
  <%= cm.submit %>
<% end %>
</div>
