<div class="form">
<%= form_for @customer_meal do |cm| %>
  <%= cm.label :customer_id %>
  <%= cm.collection_select :customer_id, @customers, :id, :name %>
  <br/><br/>
  <%= cm.label :meal_id %>
  <%= cm.collection_select :meal_id, @meals, :id, :name %>

  <br/><br/>
  <%= cm.submit %>
<% end %>
</div>
