<div class="form">
  <%= form_for @meal do |m| %>
  <%= m.label :name %>
  <%= m.text_field :name %>
  <br/><br/>

  <%= m.label :price %>
  <%= m.number_field :price, step: 0.01 %>
  <br/><br/>

  <%= m.label :calories %>
  <%= m.number_field :calories %>
  <br/><br/>

  <%= m.submit %>
<% end %>
</div>
